.a form {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.a a {
    text-decoration: none;
}

.a a:hover {
    color: red;
}

.a {
}

.a h6{
    color: black;
}
